body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Ubuntu, sans-serif;
}

.message{
    padding: .75em;
    border: 1px solid lightgrey;
    border-radius: .4em;
    margin: 1em;
    /*font-weight: bold;
    color: black;*/
    background-color: grey;
}

.message-info{
    color: #292E86;
    background: #c2dafd  ;
}

.message-success{
    color: #0fb784;
    background:#c6f0d6;
}

.message-warning{
    color: ;
    background: #fffac5;
}

.message-error{
    color: crimson;
    background: pink;
}